### Import Data & Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split,cross_val_predict
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, \
    roc_auc_score, confusion_matrix, classification_report, plot_roc_curve
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif

### Import Dataset & Creating Header

In [2]:
df = pd.read_csv("../Data/cardio_train.csv", sep=';')
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [3]:

# remove the id
df.drop("id",axis=1,inplace=True)
df.drop_duplicates(inplace=True)

# remove duplicate datas
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)


df["bmi"] = df["weight"] / (df["height"]/100)**2
df.drop("height",axis=1,inplace=True)
df.drop("weight",axis=1,inplace=True)
# out_filter = ((df["ap_hi"]>250) | (df["ap_lo"]>200))
# data = df[~out_filter]
# len(data)

df.head()

# # append the new label to independent shit
# independent.append("bmi")
labels = list(df.columns)
dependent = "cardio"
independent = labels
independent.remove(dependent)
X = df[independent]
y = df[dependent]

0

In [4]:
# # append the new label to independent shit
# independent.append("bmi")
labels = list(df.columns)
dependent = "cardio"
independent = labels
independent.remove(dependent)
X = df[independent]
y = df[dependent]

In [5]:
for x in X:
    print(x)
X

age
gender
ap_hi
ap_lo
cholesterol
gluc
smoke
alco
active
bmi

,age,gender,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,bmi
0,18393,2,110,80,1,1,0,0,1,21.967120
1,20228,1,140,90,3,1,0,0,1,34.927679
2,18857,1,130,70,3,1,0,0,0,23.507805
3,17623,2,150,100,1,1,0,0,1,28.710479
4,17474,1,100,60,1,1,0,0,0,23.011177
...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,120,80,1,1,1,0,1,26.927438
69996,22601,1,140,90,2,2,0,0,1,50.472681
69997,19066,2,180,90,3,1,0,1,0,31.353579
69998,22431,1,135,80,1,2,0,0,0,27.099251
69999,20540,1,120,80,2,1,0,0,1,24.913495

## Normalisation

In [6]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

X

array([[0.58807588, 1.        , 0.01607916, ..., 0.        , 1.        ,
        0.06265466],
       [0.73015873, 0.        , 0.01793445, ..., 0.        , 1.        ,
        0.10655976],
       [0.6240031 , 0.        , 0.01731602, ..., 0.        , 0.        ,
        0.06787388],
       ...,
       [0.64018583, 1.        , 0.02040816, ..., 1.        , 0.        ,
        0.09445216],
       [0.90073558, 0.        , 0.01762523, ..., 0.        , 0.        ,
        0.08004023],
       [0.75431669, 0.        , 0.01669759, ..., 0.        , 1.        ,
        0.07263578]])

## Preprocessing

In [7]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Perform feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Perform feature selection
selector = SelectKBest(score_func=f_classif, k=10)
X_train_selected = selector.fit_transform(X_train_scaled, y_train)
X_test_selected = selector.transform(X_test_scaled)

## Testing

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)
# Random forest
rf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier
rf.fit(X_train, y_train)

# Make predictions on the test set
predictions = rf.predict(X_test)

# Evaluate the accuracy of the classifier
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.7077736496141754

Accuracy: 0.7057142857142857